:root {
	/* || COLORS */
	--c-white: hsl(0, 0%, 100%);
	--c-slate-300: hsl(212, 45%, 89%);
	--c-slate-500: hsl(216, 15%, 48%);
	--c-slate-900: hsl(218, 44%, 22%);
	
	--color-main-bg: var(--c-white);
	--color-body-bg: var(--c-slate-300);
	--color-title-text: var(--c-slate-900);
	--color-content-text: var(--c-slate-500);
	--color-shadow: var(--c-slate-500)
}













.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}